/* 
    Created on : 28/08/2014, 10:25:05 PM
    Author     : jach
*/

root { 
    display: block;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align:left;
    position:relative;
}

#login {
    width: 320px;
    margin: 0 auto;
    text-align:left;
    position:relative;
}


label.control {
    font-weight: bold;
}


td.headerLogo {
    width: 50%;
}
td.headerTitle {
    width: 50%;
    border-width: 0pt;
    text-align: right;
}

.img16x16 {
    width: 16px;
    height: 16px;
}